body {
    color: white;
    padding: 50px;
    margin-top: 10px;
    font-family: sans-serif, Arial, Helvetica;
    background-image: url('nature1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
 }
 body a {
    color: darkcyan;

 }